<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <app-pokemon-list (pokemonIdSelected)="changePokemonDisplay($event)">
        </app-pokemon-list>
    </mat-drawer>
    <mat-drawer-content>
        <app-pokemon-detail [pokemonIdSelected]="pokemonIdSelected" [teamSize]="teamSize" (pokemonSelectedToAddToMyTeam)="addPokemonToMyTeam($event)" (pokemonAddToTeamRecurrence)="addSamePokemonToMyTeam($event)" *ngIf="this.pokemonIdSelected">
        </app-pokemon-detail>  
        <app-team (teamSize)="changeTeamSize($event)" [pokemonSelectedToAddToMyTeam]="pokemonSelectedToAddToMyTeam" [pokemonAddedReccurence]="pokemonAddedReccurence">
        </app-team>
    </mat-drawer-content>
</mat-drawer-container>