.list{
    width: fit-content;
    border-width:1px;
    border-style:solid;
    border-color:white;
}

.my-list{
    height: 100%;
    overflow: auto;
    float:right;
    margin-top:-370px;
    margin-right: 3px;
}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden;
}

.myTeamTitle{
    margin-left: 15px;
    margin-top: 15px;
}