<div class="search-results list my-list" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false"> 
    <h3 class="myTeamTitle">My team:</h3>
    <mat-list *ngFor="let pokemon of team">
        <mat-list-item matLine>
            <img matListAvatar src="../../../assets/img/sprites/{{pokemon?.id}}.png"/>
            {{pokemon?.id}}. {{pokemon?.name}}
            <mat-icon matSuffix (click)="removePokemon(pokemon.id)">clear</mat-icon>
        </mat-list-item>
    </mat-list>
</div>
