.list{
    width: fit-content;
    border-width:1px;
    border-style:solid;
    border-color:white;
}

.my-list{
    height: 100%;
    overflow: auto;
}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden;
}