<div class="search-results list my-list" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false"> 
    <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="searchValue" (keyup)="getPokemonsSearch()" (change)="getPokemonsSearch()">
        <mat-icon matSuffix (click)="clear()">clear</mat-icon>
    </mat-form-field>
    <mat-list *ngFor="let pokemon of pokemons">
        <mat-list-item matLine (click)="changePokemonDisplay(pokemon?.id)">
            <img matListAvatar src="../../../assets/img/sprites/{{pokemon?.id}}.png"/>
            {{pokemon?.id}}. {{pokemon?.name}}
        </mat-list-item>
    </mat-list>
</div>