<mat-card class="ad">
    <mat-grid-list cols="2">
        <mat-grid-tile class="avatar">
                <img class="imagePok" src="../../../assets/img/official-artwork/{{pokemon?.id}}.png"/>
                No. {{("000"+pokemon?.id).slice(-3)}} 
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list>
                <mat-list-item>
                    {{pokemon?.name}}
                    <audio autoplay> 
                        <source src="../../../assets/audio/{{pokemon?.id}}.mp3" type="audio/mp3" />
                    </audio>
                    <button mat-mini-fab class="audio" (click)="playAudio(pokemon?.id)" color="primary">
                        <mat-icon>play_arrow</mat-icon>
                      </button>
                </mat-list-item>
                <mat-list-item>
                    <mat-chip-list class="type" *ngFor="let type of pokemon?.types" aria-label="Fish selection">
                        <mat-chip >{{type}}</mat-chip> 
                    </mat-chip-list>
                </mat-list-item>
                <mat-list-item>
                    Taille: {{pokemon?.height | number:'.1'}} m
                </mat-list-item>
                <mat-list-item>
                    Poids: {{pokemon?.weight | number:'.1'}} kg
                </mat-list-item>
                <button *ngIf="teamSize < 6 && teamSize > -1" mat-raised-button color="primary" (click)="addPokemonToMyTeam()">L'ajouter à ma team</button>
                <button *ngIf="teamSize === 6" disabled mat-raised-button color="primary">Team complète</button>
                <button *ngIf="teamSize === -1" mat-raised-button color="primary" routerLink="/connexion" class="btn">Se connecter</button>
            </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1">
        <p>{{pokemon?.description}}</p>
    </mat-grid-list>
</mat-card>