.audio{
    border-color: white;
    border-width: 4px;
    border-style:groove;
    background-color: #343A4D;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

mat-icon{
    line-height: 2px;
    margin-left: -3px;
}

.type{
    margin-right: 5%;
}

.imagePok{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ad{
    width: 500px;
    display: block;
    margin-left: 30px;
    margin-top: 10px;
}

.avatar{
    text-align: center
}

::ng-deep .mat-grid-tile .mat-figure {
    display: block !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
